<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="../public/img/favicon.png" type="image/png">
    <title>Nexus SaaS</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../public/css/bootstrap.css">
    <link rel="stylesheet" href="../public/vendors/linericon/style.css">
    <link rel="stylesheet" href="../public/css/font-awesome.min.css">
    <link rel="stylesheet" href="../public/vendors/owl-carousel/owl.carousel.min.css">
    <link rel="stylesheet" href="../public/vendors/lightbox/simpleLightbox.css">
    <link rel="stylesheet" href="../public/vendors/nice-select/css/nice-select.css">
    <link rel="stylesheet" href="../public/vendors/animate-css/animate.css">
    <!-- main css -->
    <link rel="stylesheet" href="../public/css/style.css">
    <link rel="stylesheet" href="../public/scss/_responsive.scss">
    <link rel="stylesheet" href="../public/css/add_style.scss">
    <link rel="stylesheet" href="../public/css/add_style.css">
    <link rel="stylesheet" href="../public/fonts/material-design-iconic-font/css/material-design-iconic-font.css">
</head>
<body class="about_page">

<!--================Header Menu Area =================-->
<header class="header_area">
    <div class="main_menu">
        <nav class="navbar navbar-expand-lg navbar-light">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <a class="navbar-brand logo_h" href="/mainmenu"><img src="../public/img/logo.png" alt=""></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
                    <ul class="nav navbar-nav menu_nav justify-content-right">
                        <li class="nav-item active"><a class="nav-link" href="/mainmenu">Home</a></li>
                        <li class="nav-item"><a class="nav-link" href="/addap">AP 등록</a></li>
                        <li class="nav-item"><a class="nav-link" href="/listap">AP 게시판</a>
                        <li class="nav-item"><a class="nav-link" href="/mypage">My page</a>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li class="nav-item"><a href="/logout" class="primary_btn">로그아웃</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</header>
<!--================Header Menu Area =================-->

<!--================Home Banner Area =================-->
<section class="banner_area">
    <div class="banner_inner d-flex align-items-center">
        <div class="overlay bg-parallax" data-stellar-ratio="0.9" data-stellar-vertical-offset="0" data-background=""></div>
        <div class="container">
            <div class="banner_content text-center">
                <div class="page_link">
                    <a href="index.html">Home</a>
                    <a href="about-us.html">AddAP</a>
                </div>
                <h2>AddAP</h2>
            </div>
        </div>
    </div>
</section>
<!--================End Home Banner Area =================-->

<!--================Start About Us Area =================-->
<div class="container">
    <!--<div class="wrapper">-->
        <!--<div class="image-holder">-->
        <!--<img src="images/form-wizard.png" alt="">-->
        <!--</div>-->
        <div class="row">
            <div class="col-lg-2"></div>
            <div class="col-lg-6" style="margin-top: 5%;margin-bottom: 10%;background-color: gainsboro">
                <form method="post" action="/addap/write" id="frm">
                    <div id="wizard" style="background-color: gainsboro">
                        <!-- SECTION 1 -->
                        <h4></h4>
                        <section>
                            <div class="form-row form-group">
                                <div class="form-holder">
                                    <label>지갑주소</label>
                                    <div><b><%= user.wallet_address %></b></div>
                                    <br>
                                </div>
                                <div class="form-holder">
                                    <label>아이디</label>
                                    <div><b><%= user.id %></b></div>
                                    <br>
                                </div>
                            </div>

                            <div class="form-row">
                                <label>SSID</label>
                                <input type="text" class="form-control" name="ssid" maxlength="20">
                            </div>
                        </section>

                        <!-- SECTION 2 -->
                        <h4></h4>
                        <section>
                            <div class="form-row">
                                <label>
                                    Mac
                                </label>
                                <input type="text" class="form-control" name="mac">
                            </div>
                            <div class="form-row">
                                <label>
                                    Start Time
                                </label>
                                <input type="time" class="form-control" name="start_time">
                            </div>
                            <div class="form-row">
                                <label>
                                    End Time
                                </label>
                                <input type="time" class="form-control" name="end_time">
                            </div>
                            <div class="form-row">
                                <label>
                                    Contents
                                </label>
                                <textarea class='form-control form-desc' maxlength="500" style="height:300px;" id='desc' placeholder='AP에 관한 추가 설명 기재.

                           &#13;&#10;(최대 500자)' name="contents"></textarea>
                            </div>
                        </section>
                    </div>
                </form>
            </div>
            <div class="col-lg-4"></div>
        </div>
    <!--</div>-->
</div>
<!--================End About Us Area =================-->

<!--================Footer Area =================-->
<footer class="footer_area section_gap_top">
    <div class="container">
        <div class="row footer_inner">
            <div class="col-lg-3 col-sm-6">
                <aside class="f_widget ab_widget">
                    <div class="f_title">
                        <h4>About Farfly</h4>
                    </div>
                    <ul>
                        <li><a href="#"></a>For Business</a></li><a href="#">
                            <li><a href="#"></a>Premium Plans
                        </a></li>
                        <li><a href="#"></a>Reviews</a></li>
                        <li><a href="#"></a>How it Works</a></li>
                        <li><a href="#"></a>Farfly Blog</a></li>
                    </ul>
                </aside>
            </div>
            <div class="col-lg-3 col-sm-6">
                <aside class="f_widget ab_widget">
                    <div class="f_title">
                        <h4>Company</h4>
                    </div>
                    <ul>
                        <li><a href="#"></a>Product Tour</a></li><a href="#">
                            <li><a href="#"></a>Pricing
                        </a></li>
                        <li><a href="#"></a>Founding Members</a></li>
                        <li><a href="#"></a>Case Studies</a></li>
                        <li><a href="#"></a>Product Updates</a></li>
                    </ul>
                </aside>
            </div>
            <div class="col-lg-3 col-sm-6">
                <aside class="f_widget ab_widget">
                    <div class="f_title">
                        <h4>Support</h4>
                    </div>
                    <ul>
                        <li><a href="#"></a>Documentation</a></li><a href="#">
                            <li><a href="#"></a>Data Securiry
                        </a></li>
                        <li><a href="#"></a>Site Performance</a></li>
                        <li><a href="#"></a>Action Plan</a></li>
                        <li><a href="#"></a>Resources</a></li>
                    </ul>
                </aside>
            </div>
            <div class="col-lg-3 col-sm-6">
                <aside class="f_widget ab_widget">
                    <div class="f_title">
                        <h4>Legal</h4>
                    </div>
                    <ul>
                        <li><a href="#"></a>Terms and conditions</a></li><a href="#">
                            <li><a href="#"></a>Privacy Policy
                        </a></li>
                        <li><a href="#"></a>Cookie Information</a></li>
                        <li><a href="#"></a>Opt - Out</a></li>
                    </ul>
                </aside>
            </div>
        </div>
        <div class="row single-footer-widget">
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="copy_right_text">
                    <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="social_widget">
                    <a href="#"><i class="fa fa-facebook"></i></a>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                    <a href="#"><i class="fa fa-dribbble"></i></a>
                    <a href="#"><i class="fa fa-behance"></i></a>
                </div>
            </div>
        </div>
    </div>
</footer>
<!--================End Footer Area =================-->

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="../public/js/jquery-3.2.1.min.js"></script>
<script src="../public/js/popper.js"></script>
<script src="../public/js/bootstrap.min.js"></script>
<script src="../public/js/stellar.js"></script>
<script src="../public/js/jquery.magnific-popup.min.js"></script>
<script src="../public/vendors/nice-select/js/jquery.nice-select.min.js"></script>
<script src="../public/vendors/isotope/imagesloaded.pkgd.min.js"></script>
<script src="../public/vendors/isotope/isotope-min.js"></script>
<script src="../public/vendors/owl-carousel/owl.carousel.min.js"></script>
<script src="../public/js/jquery.ajaxchimp.min.js"></script>
<script src="../public/vendors/counter-up/jquery.waypoints.min.js"></script>
<script src="../public/vendors/counter-up/jquery.counterup.min.js"></script>
<script src="../public/js/mail-script.js"></script>
<!--gmaps Js-->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCjCGmQ0Uq4exrzdcL6rvxywDDOvfAu6eE"></script>
<script src="../public/js/gmaps.min.js"></script>
<script src="../public/js/theme.js"></script>


<!-- ##### All Javascript Script ##### -->
<!-- jQuery-2.2.4 js -->
<script src="../public/js/jquery/jquery-2.2.4.min.js"></script>
<!-- Popper js -->
<script src="../public/js/bootstrap/popper.min.js"></script>
<!-- Bootstrap js -->
<script src="../public/js/bootstrap/bootstrap.min.js"></script>
<!-- All Plugins js -->
<script src="../public/js/plugins/plugins.js"></script>
<!-- Active js -->
<script src="../public/js/active.js"></script>

<!-- JQUERY STEP -->
<script src="../public/js/jquery.steps.js"></script>
<script src="../public/js/main.js"></script>
</body>
</html>