<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="../public/img/favicon.png" type="image/png">
    <title>Comodo Games</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../public/css/bootstrap.css">
    <link rel="stylesheet" href="../public/vendors/linericon/style.css">
    <link rel="stylesheet" href="../public/css/font-awesome.min.css">
    <link rel="stylesheet" href="../public/vendors/owl-carousel/owl.carousel.min.css">
    <link rel="stylesheet" href="../public/css/magnific-popup.css">
    <link rel="stylesheet" href="../public/vendors/nice-select/css/nice-select.css">
    <link rel="stylesheet" href="../public/vendors/animate-css/animate.css">
    <link rel="stylesheet" href="../public/vendors/flaticon/flaticon.css">
    <!-- main css -->
    <link rel="stylesheet" href="../public/css/style.css">
</head>

<body>

<!--================Header Menu Area =================-->
<header class="header_area">
    <div class="main_menu">
        <nav class="navbar navbar-expand-lg navbar-light">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <a class="navbar-brand logo_h" href="/mainmenu"><img src="../public/img/logo.png" alt=""></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
                    <ul class="nav navbar-nav menu_nav justify-content-right">
                        <li class="nav-item active"><a class="nav-link" href="/mainmenu">Home</a></li>
                        <li class="nav-item"><a class="nav-link" href="/addap">AP 등록</a></li>
                        <li class="nav-item"><a class="nav-link" href="/listap">AP 게시판</a>
                        <li class="nav-item"><a class="nav-link" href="/mypage">My page</a>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li class="nav-item"><a href="/logout" class="primary_btn">로그아웃</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</header>
<!--================Header Menu Area =================-->

<!--================Home Banner Area =================-->
<section class="home_banner_area">
    <div class="banner_inner">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="home_left_img">
                        <img class="img-fluid" src="../public/img/banner/home-left.png" alt="">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="banner_content">
                        <h2>
                            For All Users <br>
                            Share your AP<br>
                            Use my AP<br>
                        </h2>
                        <p>
                            When you want money, share you AP<br><br>
                            When you don't have the Internet, use my AP
                        </p>
                        <div class="d-flex align-items-center">
                            <a id="play-home-video" class="video-play-button" href="https://www.youtube.com/watch?v=vParh5wE-tM">
                                <span></span>
                            </a>
                            <div class="watch_video text-uppercase">
                                How can we use?
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================End Home Banner Area =================-->

<!--================Footer Area =================-->
<footer class="footer_area section_gap_top">
    <div class="container">
        <div class="row footer_inner">
            <div class="col-lg-3 col-sm-6">
                <aside class="f_widget ab_widget">
                    <div class="f_title">
                        <h4>About Farfly</h4>
                    </div>
                    <ul>
                        <li><a href="#"></a>For Business</a></li><a href="#">
                            <li><a href="#"></a>Premium Plans
                        </a></li>
                        <li><a href="#"></a>Reviews</a></li>
                        <li><a href="#"></a>How it Works</a></li>
                        <li><a href="#"></a>Farfly Blog</a></li>
                    </ul>
                </aside>
            </div>
            <div class="col-lg-3 col-sm-6">
                <aside class="f_widget ab_widget">
                    <div class="f_title">
                        <h4>Company</h4>
                    </div>
                    <ul>
                        <li><a href="#"></a>Product Tour</a></li><a href="#">
                            <li><a href="#"></a>Pricing
                        </a></li>
                        <li><a href="#"></a>Founding Members</a></li>
                        <li><a href="#"></a>Case Studies</a></li>
                        <li><a href="#"></a>Product Updates</a></li>
                    </ul>
                </aside>
            </div>
            <div class="col-lg-3 col-sm-6">
                <aside class="f_widget ab_widget">
                    <div class="f_title">
                        <h4>Support</h4>
                    </div>
                    <ul>
                        <li><a href="#"></a>Documentation</a></li><a href="#">
                            <li><a href="#"></a>Data Securiry
                        </a></li>
                        <li><a href="#"></a>Site Performance</a></li>
                        <li><a href="#"></a>Action Plan</a></li>
                        <li><a href="#"></a>Resources</a></li>
                    </ul>
                </aside>
            </div>
            <div class="col-lg-3 col-sm-6">
                <aside class="f_widget ab_widget">
                    <div class="f_title">
                        <h4>Legal</h4>
                    </div>
                    <ul>
                        <li><a href="#"></a>Terms and conditions</a></li><a href="#">
                            <li><a href="#"></a>Privacy Policy
                        </a></li>
                        <li><a href="#"></a>Cookie Information</a></li>
                        <li><a href="#"></a>Opt - Out</a></li>
                    </ul>
                </aside>
            </div>
        </div>
        <div class="row single-footer-widget">
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="copy_right_text">
                    <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="social_widget">
                    <a href="#"><i class="fa fa-facebook"></i></a>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                    <a href="#"><i class="fa fa-dribbble"></i></a>
                    <a href="#"><i class="fa fa-behance"></i></a>
                </div>
            </div>
        </div>
    </div>
</footer>
<!--================End Footer Area =================-->

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="../public/js/jquery-3.2.1.min.js"></script>
<script src="../public/js/popper.js"></script>
<script src="../public/js/bootstrap.min.js"></script>
<script src="../public/js/stellar.js"></script>
<script src="../public/js/jquery.magnific-popup.min.js"></script>
<script src="../public/vendors/nice-select/js/jquery.nice-select.min.js"></script>
<script src="../public/vendors/isotope/imagesloaded.pkgd.min.js"></script>
<script src="../public/vendors/isotope/isotope-min.js"></script>
<script src="../public/vendors/owl-carousel/owl.carousel.min.js"></script>
<script src="../public/js/jquery.ajaxchimp.min.js"></script>
<script src="../public/vendors/counter-up/jquery.waypoints.min.js"></script>
<script src="../public/vendors/counter-up/jquery.counterup.min.js"></script>
<script src="../public/js/mail-script.js"></script>
<!--gmaps Js-->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCjCGmQ0Uq4exrzdcL6rvxywDDOvfAu6eE"></script>
<script src="../public/js/gmaps.min.js"></script>
<script src="../public/js/theme.js"></script>
</body>

</html>